ul{
    list-style: none;
    padding-right: 10px;
    margin: 0;
    display: flex;
    justify-content:left;
    background-color: tomato;
   text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}
li{
    padding: 10px;
    margin: 0 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
li:hover{
    background-color: #ff6347;
    cursor: pointer;
}
.active{
    background-color: #ff6347;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}